html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -20;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
    animation: scale 25s;
    z-index: -21;
}

@keyframes scale {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* Question content */

.question-container{
    width: 80%;
    margin: 13rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-container h2,
.explore-content-container h2{
    font-size: 4rem;
    line-height: 7rem;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);        
}

.option-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

/* Option button */

.option{
    width: 14rem;
    height: 3rem;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(215,56,94, .7);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color .3s ease;
}

.option:hover{
    background-color: rgba(215,56,94, .9);
}

.option a{
    color: #fff;
    /* padding: .5rem 3rem; */
}

/* Main Content */

.main-container{
    width: 100%; 
    height: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    padding: 3rem 0;
}

.explore-content-container{
    width: 80%;    
    margin: 0 auto;
}

.explore-content-container h2{
    text-align: center;
}

/* Explore content and History */

.explore-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.explore-image-container{
    width: 90%;
    height: 80vh;
    position: relative;    
    margin: 0 auto 4rem;
    transition: background-color .4s ease;
}

.explore-image-container img{
    width: 100%;
    height: 100%;
}

.content{
    position: absolute;
    top: 11rem;
    left: 0;
    font-size: 1.4rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2.5rem;
    color:#fff;
    opacity: 0;
    transition: opacity .6s ease;
    z-index: 11;
}

.content-active{
    opacity: 1;
}

.read-btn{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 3rem;    
    text-transform: uppercase;    
    background-color: rgba(256, 256, 256, .5);
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    border: none;
    border-top-left-radius: 5%;
    outline: none;
    cursor: pointer;
    transition: background-color .4s ease;
    z-index: 10;    
}

.read-btn:hover{
    background-color: rgba(256, 256, 256, .9);    
}

.fadeIn::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;                
    background-color: rgba(0, 0, 0, .7);    
    transition: background-color .3s ease;
}

/* Art and other sections */

.explore-off{
    display: none;
    transition: display .3s ease;
}

.main-container .explore-on{
    display: block;
    transition: display .5s ease;
}

/* RESPONSIVENESS */

@media (max-width: 1125px){    
    .question-container{
        width: 95%;
        margin-top: 14rem;        
    }

    .question-container h2{
        font-size: 3.5rem;  
        text-align: center;      
        letter-spacing: 1px;
    }

    .explore-content-container{
        width: 83%;
    }
    .explore-image-container{        
        width: 100%;
    }

}

@media (max-width: 915px){
    .question-container h2{
        font-size: 3rem;
        letter-spacing: 0;        
    }

    .option{
        width: 12.5rem;
    }
    .explore-content-container{
        width: 90%;
    }

    .content{
        top: 10rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 815px){
    .question-container{
        margin-top: 16rem;
    }
    .question-container h2{
        font-size: 2.6rem;
    }

    .option{
        width: 11.5rem;
        font-size: 1.3rem;
    }

    .explore-image-container{
        height: 70vh;
    }

    .content{
        top: 8rem;
    }
}

@media (max-width: 710px){
    .question-container h2{
        font-size: 2.4rem;
        line-height: 4rem;
    }

    .explore-content-container h2{
        font-size: 3rem;
    }
}

@media (max-width: 655px){
    .question-container{
        margin-top: 15rem;
        
    }

    .option{
        width: 10rem;
    }

    .explore-image-container{
        height: 60vh;
    }

    .content{
        top: 6rem;
        font-size: 1rem;
        line-height: 2rem;
    }
}

@media (max-width: 550px){
    .option{
        width: 8.5rem;
        font-size: 1.2rem;
    }

    .explore-content-container h2{
        font-size: 2.7rem;
        line-height: 3rem;
    }

    .explore-content-container{
        width: 96%;
    }

    .explore-image-container{
        height: 55vh;
    }

    .content{
        top: 4rem;
    }
}

@media (max-width: 450px){
    .question-container{
        margin-top: 10rem;
    }

    .question-container h2{
        font-size: 2.3rem;
    }

    .option-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .option{
        width: 12rem;
        margin-bottom: 2rem;
    }

    .explore-image-container{
        height: 50vh;
    }

    .content{
        top: 2.7rem;
        line-height: 1.7rem;
    }
}

@media (max-width: 330px){
    .question-container{
        margin-top: 6rem;
    }

    .option{
        margin-bottom: 1.5rem;
    }

    .content{
        top: .7rem;
        line-height: 1.4rem;
    }
}