* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* NAVIGATION */

.nav {
    width: 90%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem auto;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin: 0 1rem;
}

.brand-name {
    font-size: 2.2rem;
    font-family: 'Merienda One', cursive;
    color: #fff;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border-bottom .4s ease-in;
}

.nav-link:hover {
    border-bottom: 1px solid #fff;
}

.nav-items .active {
    border-bottom: 1px solid #fff;
}

/* Burger nav button */

.burger-nav {
    display: none;
}

.burger-nav div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: rgba(226, 226, 226);
    transition: transform .5s ease;
}

@keyframes linkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.change .line1,
.change .line2,
.change .line3 {
    transform: rotate(360deg);
}

@media (max-width: 855px) {
    body {
        overflow-x: hidden;
    }

    /* Navigation */

    .nav {
        width: 88%;
        padding-top: 1.2rem;
    }

    .nav-item {
        margin: 0 auto;
    }

    .nav-items {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .9);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 10;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }

    .nav-items .nav-link {
        opacity: 0;
        font-size: 2.2rem;
        letter-spacing: 1.5px;
    }

    .burger-nav {
        display: block;
        cursor: pointer;
        z-index: 15;
    }

    .brand-name {
        font-size: 2.6rem;
    }
}

/* FOOTER */

footer {
    width: 100%;
    margin: 0 auto;
    padding-top: 4rem;
    background-color: #222831;
    border-top: 1px solid #fff;
}

.social-media {
    width: 50%;
    margin: 0 auto;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.social-media-icons a {
    text-align: center;
}

.svg {
    width: 20%;
    transition: opacity .3s ease-in;
}

.svg:hover {
    opacity: 0.6;
}

.copyright {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    text-align: center;
}

.copyright a,
.copyright p {
    color: #fff;
    font-size: .9rem;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    transition: border-bottom .3s ease-in;
}

.copyright a:hover {
    border-bottom: 1px solid #fff;
}

@media (max-width: 920px) {
    /* Footer Content */

    .svg {
        width: 22%;
    }

    .copyright a,
    .copyright p {
        font-size: .9rem;
    }
}

@media (max-width: 810px) {
    /* Footer Content */

    .svg {
        width: 30%;
    }
}

@media (max-width: 580px) {
    /* Footer Content */

    .svg {
        width: 35%;
    }

    .copyright {
        width: 90%;
    }

    .copyright a,
    .copyright p {
        font-size: .7rem;
    }
}

@media (max-width: 440px) {

    /* Footer Content */

    .svg {
        width: 45%;
    }

    .copyright {
        width: 98%;
    }

    .copyright a,
    .copyright p {
        font-size: .65rem;
    }
}